navbar ul li {
    font-size: 25px;
    padding: 71px 30px;
  }
  
  
  .allsidebar {
    position: absolute;
    top: 12.2%;
    left: -2%;
  }
  .sidebar {
    background-color: black;
    color: white;
    padding: 70px 70px;
  }
  
  .sidebarboy {
    border-style: solid;
    border-color: black;
    padding: 70px 69px;
  }
  
  .sidebar2 {
    border-style: solid;
    border-color: black;
    padding: 70px 64px;
  }
  
  .sidebarwomen {
    border-style: solid;
    border-color: black;
    padding: 70px 51px;
  }
  
  .sidebargirl {
    border-style: solid;
    border-color: black;
    padding: 70px 69.5px;
  }
  
  .sidebarbaby {
    border-style: solid;
    border-color: black;
    padding: 70px 63.5px;
  }
  
  .itemdisplay {
    background-color: #E0E0E0; 
    width: 800px;
    height: 848px;
    position: absolute;
    top: 12.3%;
    left: 9.2%
  }