@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Signika+Negative&display=swap');

p {
    font-family: 'Poppins', sans-serif;
    font-family: 'Signika Negative', sans-serif;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-family: 'Signika Negative', sans-serif; 
    font-size: 50px;
}
h2 {
  font-family: 'Poppins', sans-serif;
  font-family: 'Signika Negative', sans-serif; 
  font-size: 40px;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-family: 'Signika Negative', sans-serif; 
  font-size: 20px;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 8%;
    padding-right: 8%;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 10px;
  }
  
  nav ul li a {
    color: black;
    font-weight: bold;
  }

  .align {
    position: absolute;
    left: 44%;
  }

 .side {
    position: absolute;
    left: 87%;
  }

 .btn {
    background-color: green;
    color: white;
    border: 2px sold transparent;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 30px;
    transition: transform .4s;
  }

  .brand {
    font-size: 70px;
    position: absolute;
    top: 80%;
    left: 10%;
  }

/** Fading in and out animation **/
h4 {
    color: black;
}
@import "compass/css3";

@keyframes fadeIn { 
    from { opacity: 0; } 
  }
.hometext {
    position: absolute;
    top: 70%;
    left: 60%;
}
.fade {
    animation: fadeIn 3s infinite alternate;
}

navbar ul li {
  font-size: 25px;
  padding: 51px 20px;
}


.allsidebar {
  position: absolute;
  top: 13.1%;
  left: -2%;
}
.sidebar {
  background-color: black;
  color: white;
  padding: 51px 60px;
}

.sidebarboy {
  border-style: solid;
  border-color: black;
  padding: 50px 59px;
}

.sidebarwomen {
  border-style: solid;
  border-color: black;
  padding: 50px 41px;
}

.sidebargirl {
  border-style: solid;
  border-color: black;
  padding: 50px 59.5px;
}

.sidebarbaby {
  border-style: solid;
  border-color: black;
  padding: 50px 53.5px;
}

.itemdisplay {
  background-color: #E0E0E0; 
  width: 650px;
  height: 655px;
  position: absolute;
  top: 13.1%;
  left: 10%;
}
.textdisplay {
  position: absolute;
  top: 15%;
  left: 20%;
}

div.a {
  line-height: 1.4;
}
.checked{
  color: orange;
}

.rating {
  position: absolute;
  top: 37%;
  left: 20%;
}

.madein {
  position: absolute;
  top: 70%;
  left: 20%;
}

.custombtn {
  position: absolute;
  top:90.4%;
  left: 48.6%;
} 

.shopbtn {
  position: absolute;
  top:90.4%
}
.customization {
  background-color: white;
  color: black;
  padding: 45px 120.5px;
}

.cart {
  background-color: rgb(61, 61, 61);
  color: white;
  padding: 45px 120.5px;
}

.video {
  position:absolute;
  top:90.4%;
  left: 60%;
}