@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Signika+Negative&display=swap');
a {
  font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Signika Negative', sans-serif;
}

p {
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Signika Negative', sans-serif;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Signika Negative', sans-serif;
  font-size: 50px;
}
h2 {
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Signika Negative', sans-serif;

  font-size: 40px;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-family: 'Signika Negative', sans-serif; 
  font-size: 20px;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}


 .side {
    position: absolute;
    left: 87%;
  }

 .btn {
    background-color: green;
    color: white;
    border: 2px sold transparent;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 30px;
    transition: transform .4s;
  }




.cartpage {
  position: absolute;
  top: 15%;
}
 .cartitem {
  background-color: rgb(214, 214, 214);
  padding: 5%;
  width: 500%;
 }

 .quantity {
  display: flex;
  justify-content: flex-end;
 }

 .quantalign {
  position: absolute;
  top: 5%;
 }

.loadtext {
  position:absolute;
  top:70%;
  left:38.9%;
}

span {
  opacity: 0;
  transition: all 0.4s ease;
}

span.fade {
  opacity: 1;
}

